* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", Courier, monospace;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  font-weight: 400;
}

.title-catalog {
  font-size: 70px;
  line-height: 78px;
  text-align: center;
  margin: 220px 0px 55px 0px;
}

.card-container {
  background-color: #F7F7FA;
  box-shadow: 2px 2px 10px 0px rgba(81, 80, 118, 0.1);
  width: 340px;
  height: 573px;
  padding: 25px;
  display: inline-block;
}

.product-category {
  color: #A5A3B9;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  margin-top: 30px;
  margin-bottom: 5px;
  display: block;
}

.product-name {
  font-weight: 700;
  line-height: 27px;
  font-size: 20px;
  margin-bottom: 5px;
}

.product-description {
  margin-bottom: 15px;
}

.product-compound {
  margin-top: 5px;
  list-style: circle;
  margin-left: 15px;
  margin-bottom: 5px;
}

.product-price-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.product-price {
  font-size: 20px;
  line-height: 24px;
}

.product-price-container {
  margin-top: 25px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  margin-bottom: 116px;
  list-style: none;
  justify-content: center;
}

.product-price-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 290px; 
}

.background_flowers {
  background-image: url("images/background-flowers.png");
  background-position: left top;
  background-size: 790px;
  background-repeat: no-repeat;
  align-content: center;
}

.content-wrapper {
  width: 1110px;
  justify-content: center;
  margin: 0 auto;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
  margin-bottom: 55px;
}

.button {
  color: rgb(255, 255, 255);
  background-color: #515076;
  width: 240px;
  height: 40px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 10px;
}

.button:hover {
  background-color: #383752;
}

.bg-turquoise {
  background-color: #149b70d7;
}